<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Inicio de Sesión | Sport Dev</title>
    <!--- CSS de Bootstrap --->
    <link rel="stylesheet" href="/Recursos/CSS/Bootstrap CSS/bootstrap.css">

        <link rel="stylesheet" href="/Recursos/CSS/Publico/crear_cuenta.css">
    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Icono de la pagina -->
    <link rel="icon" type="image/x-icon" href="/Recursos/Imagenes/logo.png">

    <!--Google Fonts (Para ponerle otros fuentes de texto.)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Barra de navegacion -->
    <header>
        <div class="container-fluid text-bg-primary py-4 text-center" style="background: linear-gradient(to bottom, #245C9D, #4092CE); margin: 0; display: flex; justify-content: center; align-items: center;">
            <img src="/Recursos/Imagenes/poligono_add.png"><h1 class="px-3"> ADMINISTRADOR</h1><img src="/Recursos/Imagenes/poligono_adi.png">
        </div>
    </header>

    <div class="p-1"></div>

    <main>
        <div class="container p-4 col-10 col-sm-10 col-md-8 col-xl-5 m-auto mt-6">
            <div class="p-4 card text-center mt-5 mx-auto" style="background-color: #245C9D;">
                <h3 class="text-white">Iniciar Sesion</h3>
                <div class="row">
                
                    <div class="p-1 mt-5">
                        <h5 class="text-white text-start">Ingrese su correo:</h5>
                        <label for="correo" class="form-label"> </label>
                        <input placeholder="Correo:" type="email" id="correo" name="correo" class="form-control"
                            required>
                    </div>
                    <div class="text-white p-1 mt-5">
                        <h5 class="text-white text-start">Ingrese su contraseña:</h5>
                        <label for="clave" class="form-label"></label>
                        <input placeholder="Contraseña:" type="password" id="clave" name="clave" class="form-control"
                            required>
                        <div class="d-flex justify-content-end p-1">
                            <p><a href="/Vistas/Publico/recuperacion_contra_correo.html" class="link-light ">¿Olvidaste tu contraseña?</a></p>
                        </div>
                        <div class="container p-1 mt-5">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <a href="/Vistas/Publico/index.html" type="submit" class="btn btn-light mt-4"
                                        style="color: #245C9D;">Iniciar Sesion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!-- Fin del Cotenedor del login -->

    
    <div class="py-5"></div>
    <div class="py-5"></div>
    <div class="py-5"></div>
    <div class="py-5"></div>
  
    <!-- Inicio Footer -->
    <div id="footer_contenedor"></div>
    <!-- Final Footer -->
    
    <!-- Scripts -->
    <!-- JS de Bootstrap -->
    <script src="/Recursos/JavaScript/Bootstrap JS/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/Controladores/Administradores/Navegacion.js"></script>
    <script type="text/javascript" src="/Controladores/Administradores/cargar_menu.js"></script>
    <script type="text/javascript" src="/Recursos/JavaScript/Administradores/menu_inicio.js"></script>
    <script type="text/javascript" src="/Controladores/Administradores/cargar_footer_index.js"></script>
    <script type="text/javascript" src="/Recursos/JavaScript/Administradores/footer_index.js"></script>
  </body>
  
  </html>