<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Inicio de Sesión | Sport Dev</title>
    <!--- CSS de Bootstrap --->
    <link rel="stylesheet" href="../../Resources/CSS/Bootstrap CSS/bootstrap.css">

    <link rel="stylesheet" href="../../Resources/CSS/Publico/index.css">
    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Icono de la pagina -->
    <link rel="icon" type="image/x-icon" href="../../Resources/Images/logo.png">

    <!--Google Fonts (Para ponerle otros fuentes de texto.)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Barra de navegacion -->
    <header>
        <div class="container-fluid text-bg-primary py-4 text-center"
            style="background: linear-gradient(to bottom, #245C9D, #4092CE); margin: 0; display: flex; justify-content: center; align-items: center;">
            <img src="../../Resources/Images/poligono_add.png" class="mx-auto d-block" height="50" width="50">
            <h1 class="px-3"> ADMINISTRADOR</h1><img src="../../Resources/Images/poligono_adi.png" class="mx-auto d-block" height="50" width="50">
        </div>
    </header>

    <div class="p-1"></div>

    <main>
        <!-- Formulario para ingresar a la tienda en linea. -->
        <h3 id="mainTitle"></h3>

        <form class="d-none" id="signupForm">
            <div class="row g-3">
                <div class="col-sm-12 col-md-6">
                    <label for="nombreAdministrador" class="form-label">Nombre</label>
                    <input id="nombreAdministrador" type="text" name="nombreAdministrador" class="form-control"
                        required>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="aliasAdministrador" class="form-label">Usuario</label>
                    <input id="aliasAdministrador" type="text" name="aliasAdministrador" class="form-control" required>
                </div>

                <div class="col-sm-12 col-md-6">
                    <label for="correoAdministrador" class="form-label">Correo</label>
                    <input id="correoAdministrador" type="email" name="correoAdministrador" class="form-control"
                        required>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="claveAdministrador" class="form-label">Contraseña</label>
                    <input id="claveAdministrador" type="password" name="claveAdministrador" class="form-control"
                        required>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                    <input id="confirmarClave" type="password" name="confirmarClave" class="form-control" required>
                </div>
                <div class="text-center">
                    <button type="reset" class="btn btn-secondary"><i class="bi bi-x-square"></i> Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
                </div>
            </div>
        </form>
        <!-- Formulario para ingresar a la tienda en linea. -->
        <form class="d-none" id="loginForm">
            <div class="row g-3">
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input id="usuario" type="text" name="usuario" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <label for="clave" class="form-label">Contraseña</label>
                    <input id="clave" type="password" name="clave" class="form-control" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-send"></i> Ingresar</button>
                </div>
            </div>
        </form>

    </main>
    <!-- Fin del Cotenedor del login -->

    <div class="py-5"></div>
    <div class="py-5"></div>
    <div class="py-5"></div>
    <div class="py-5"></div>

    <!-- Inicio Footer -->
    <div id="footer_contenedor"></div>
    <!-- Final Footer -->

    <!-- Scripts -->
    <!-- JS de Bootstrap -->
    <script src="../../Resources/JavaScript/Bootstrap JS/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="../../Resources/JavaScript/Bootstrap JS/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="../../Resources/JavaScript/Libraries/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../Controllers/Utils/administrador.js"></script>
    <script type="text/javascript" src="../../Controllers/Admin/Login/index.js"></script>
    <script type="text/javascript" src="../../Controllers/Utils/componentes.js"></script>
</body>

</html>