<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recuperacion de cuenta | Sport Dev</title>
    <link rel="stylesheet" href="/Recursos/CSS/Publico/crear_cuenta.css">
    <!--- CSS de Bootstrap --->
    <link rel="stylesheet" href="/Recursos/CSS/Bootstrap CSS/bootstrap.css">

    <!-- Icono de la pagina -->
    <link rel="icon" type="image/x-icon" href="/Recursos/Imagenes/logo.png">

    <!--Google Fonts (Para ponerle otros fuentes de texto.)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Barra de navegacion -->
    <div id="menuregistrar_contenedor"></div>

    <main>
        <div class="container p-4 col- col-sm-10 col-md-8 col-xl-5   mt-5">
            <div class="p-4 card text-center mt-5 mx-auto" style="background-color: #245C9D;">
                <h1 class="text-white mt-5">Recuperacion de contraseña</h1>
                <div class="row">
                    <div class="justify-content-end text-white p-1">
                        <h3 class="text-start mt-5">Ingrese su correo:</h3>
                        <label for="correo" class="form-label"> </label>
                        <input placeholder="Correo:" type="email" id="correo" name="correo" class="form-control"
                            required>

                    </div>

                    <div class="container mt-5">
                        <div class="row justify-content-end mt-5">
                            <div class="col-auto">
                                <a href="/Vistas/Publico/recuperacion_contra.html" type="submit" class="btn btn-light mt-4"
                                    style="color: #245C9D;">Confirmar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Fin del Cotenedor del login -->

    <div class="p-4"></div>

    <!-- Inicio Footer -->
    <div id="footer_contenedor"></div>
    <!-- Final Footer -->

    <!-- Scripts -->
    <!-- JS de Bootstrap -->
    <script src="/Recursos/JavaScript/Bootstrap JS/bootstrap.bundle.js"></script>

    <script type="text/javascript" src="/Controladores/Publico/cargar_menu_registrar.js"></script>
    <script type="text/javascript" src="/Recursos/JavaScript/Publico/menu_registrar.js"></script>
    <script type="text/javascript" src="/Controladores/Publico/cargar_footer_login.js"></script>
    <script type="text/javascript" src="/Recursos/JavaScript/Publico/footer_login.js"></script>

</body>

</html>